body, html {
    height: 100%;
    margin: 0;
}
.hero-section {
    
    background-image: url('img/imgindex.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh; 
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
        
}

.content-box h1 {
    font-weight: 300;
    letter-spacing: 2px;
}